

body {
    /*color: #f2f3eb;*/
    /*background-color: black;*/
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1, #subtitle{
  text-align: center;
}

#subtitle{
  margin-bottom: 4em;
}

h1 {
  font-size: 3em;
}

  a {
    text-decoration: none;
    color: black;
  }

  #links{
    display: flex;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
  }

  .icon{
    text-align: center;
    font-size: 1em;
  }

